.a{
    border: 4 px solid black;
    height: 850 px;
    width: 650 px;
    margin-left: 350 px;
    background-color: blue;
}
.b{
    margin-left: 30 px;
    margin-top: 45 px;
}
.c{
    margin-left: 30 px;
    margin-top: 80 px;
}
.d{
    margin-top: 50 px;
    margin-left: 30 px;
}
.e{
    margin-left: 275 px;
    margin-top: 30 px;
    
}
